@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "heading";
  src: url("../assets/fonts/Tanklager-Kompakt.woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  user-select: none;
  cursor: none;
}

html,
body {
  height: 100vh;
  width: 100%;
}
.main-heading {
  background-image: url("../assets/images/shoefullblur.jpg");
  background-size: cover;
  background-position: center;
  transform: scale(1, 1.6);
}
.main-heading-txt {
  font-family: "Clash Grotesk", sans-serif;
  font-weight: 500;
}
.logo a {
  font-family: "Clash Grotesk", sans-serif;
}
.login-page {
  background: rgb(246, 246, 246);
  background: linear-gradient(
    138deg,
    rgba(246, 246, 246, 1) 0%,
    rgba(219, 219, 219, 1) 35%,
    rgba(175, 175, 175, 1) 100%
  );
}
.new-arrival-card:hover .new-arrival-img {
  scale: 1.1;
}
.new-arrival-img {
  transition: all 0.4s ease;
}
.brand-item:hover .brand-item-bg {
  scale: 1.15;
}
.brand-item-bg {
  transition: all 0.5s ease;
}
.form-container label {
  display: block;
  font-size: 0.85rem;
  margin-bottom: 5px;
  font-weight: 600;
  color: #222;
}
.form-container .input-container {
  display: flex;
  flex-direction: column;
}
.form-container .product-new-input {
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.form-container .product-new-input label {
  margin-bottom: 0;
}
.form-container input {
  border: 1px solid #a1a1aa;
  outline: 0;
  padding: 5px 10px;
  font-size: 0.95rem;
  border-radius: 5px;
}
.form-container .product-img-inp {
  padding: 2px 10px;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #999;
  background: transparent;
  padding: 5px 10px;
}
.form-container .price-inp-container input,
.dis-inp-container input {
  padding-left: 35px;
}
.form-container .login-label{
  margin-bottom: 0;
  font-weight: 500;
}
.form-container .login-inp{
  border: 0;
  background: transparent;
  padding: 5px 0px;
  font-size: 1.12rem;
  width: 100%;
}
.form-container #login-password{
  padding-right: 3.5ch;
}

@media (min-width: 640px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
}

@media (min-width: 1536px) {
}
